/* Estilos para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 15px;
}

/* Estilos para el encabezado */
header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 6px;
    position: relative; 
}

/* Estilos para el menú de navegación */
nav {
    background-color: #000;
    color: #fff;
    padding: 30px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; 
    font-size: 18px; 
}

nav ul li a:hover,
nav ul li a:focus {
    background-color: #ffffff; 
    color: #000000; 
    outline: none; 
}
nav ul li a {
    border-radius: 20px; 
    border: 2px solid #fff; 
}

/* Estilos para las secciones de contenido */
section {
    text-align: left;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

section h2 {
    font-size: 18px; 
}

/* Estilos para las imágenes */
section img {
    float: left;
    margin-right: 20px;
}

/* Estilos para el pie de página */
footer {
    text-align: center; 
    font-size: 12px; 
    padding: 8px; 
    background-color: #000; 
    color: #fff; 
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}